<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Spring Boot CQRS Demo</title>
</head>
<body>
<div th:replace="header"></div>
<div align="center" style="display: flex;flex-direction: column;gap: 2vh;margin-top: 3vh">
    <h1>Spring Boot CQRS Demo</h1>
    <h4>in this application, you can find an implementation of CQRS (Command Query Responsibility Segregation)</h4>
    <h4>We used MongoDb as a database for writing objects and ElasticSearch as a read Database</h4>
    <h4>We used Eureka for the Command and Query Services Discovery</h4>
    <h4>We used RabbitMq for communication between the two databases, in case of an update</h4>
</div>
</body>
</html>